<div id="team-images">
  <br>
  <p class="content">
    <%= image_tag("WaltersChin.jpg", height: "140", width: '140') %>
    <p class="text">
      <p>Walters Chin, Local Project Coordinator</p>
      Walters Chin is a twenty-five year old student at Buea University who has been working with YAN since 2009.  Walters coordinates all program logistics, runs orientation, and is available to YAN fellows throughout the year. 
    </p>
  </p>
  <p class="content">
    <%= image_tag("Akwonga.jpg", height: "140", width: '140') %>
    <span class="text">
      <p>Akwanga David Nkemtaji, Local Partner</p>
      David Akwonga is the Chief of the Technology Center at the Bilingual Grammar School Molyko - Buea and YAN's main contact at the school.  His dedication, hours of overtime and wealth of ideas are the foundation upon which YAN's program in Buea is successful.
    </span>
  </p>
  <p class="content">
    <%= image_tag("Antonia.jpg", height: "140", width: '140') %>
    <span class="text">
      <p>Antonia Morzenti, Youth Advocacy Network Fellow 2013-2014</p>
      Antonia's passion for human rights, gender equality and social justice led her to a BA in International Studies with an emphasis in Post Colonial Africa and Globalization. Change and progress come from the youth and Antonia is looking forward to empowering Buea's youth!
    </span>
  </p>
  <p class="content">
    <%= image_tag("Erin.jpg", height: "140", width: '140') %>
    <span class="text"> 
      <p>Erin Wildermuth, Founder and Executive Director</p>
      Erin Wildermuth began the Youth Advocacy Network in Buea, Cameroon in the Fall of 2009.  Before founding YAN, Erin completed a Masters in International Political Economy at the London School of Economic where her thesis project documented the power of Non-Governmental Organizations in setting international policy specifically as it related to North-South power dynamics. 
    </span>
  </p>
  <p class="content">
    <%= image_tag("StanleyMiki.jpg", height: "140", width: '140') %>
    <span class="text"> 
      <p>Gabga Stanley Miki, Advisor</p>
      Gabga Stanley Miki hails from Limbe and has been in cinema for eight years. In 2007 Stanley started working as a cinemotographer, editor and graphic designer in both national and international projects. He was involved in BREAK-IN a soap opera which won Best film by the public in Fako Film Festival and  MBELIGI a Doc-Drama which earned a nomination to the Nuff Global Festival for climate change.
    </span>
  </p>
  <p class="content">
    <%= image_tag("WegEfokoa.jpg", height: "140", width: '140') %>    
    <span class="text">
      <p>Wegmuller ikone efokoa, Advisor</p>
      As an entrepreneur and artist, Wegmuller ikome efokoa owns a production studio blue drops studios and has directed and produced award winning video clips. One of his artists is presently a KORA All Africa nominee. He is a producer with a passion for quality work and the founder of Bluedrops Studios in Buea, Cameroon.
    </span>
  </p>
</div>
<br>
<br>
<br>