<div id="team-images">
  <%= image_tag("Akwonga.jpg", height: "95", width: '95') %>
  <%= image_tag("Antonia.jpg", height: "95", width: '95') %>
  <%= image_tag("Erin.jpg", height: "95", width: '95') %>
  <%= image_tag("StanleyMiki.jpg", height: "95", width: '95') %>
  <%= image_tag("WaltersChin.jpg", height: "95", width: '95') %>
  <%= image_tag("WegEfokoa.jpg", height: "95", width: '95') %>
</div>